@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif !important;
  background: #F5F6F9;
}



.slick-list {
  overflow: hidden;

}

.slick-track {
  display: flex;

}

.slick-arrow {
  position: absolute;
  z-index: 12;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
}

.slick-dots {
  display: flex !important;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 8%;
  font-size: 0;
  gap: 10px;

}

.slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d4d0d0c5;
}

.slick-active button {
  background-color: #ffffff !important;
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}

.slick-next::after {
  content: "";
  font-size: 50px;
  background-image: url("../app/assets/icons/left-arrow.svg") !important;
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
}

.slick-prev::after {
  content: "";
  font-size: 50px;
  background-image: url("../app/assets/icons/left-arrow.svg");
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
}

@layer components {
  .loader {
    @apply animate-spin;
    border-top-color: #3490dc;
  }
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background: #1677FF;
  border-radius: 10px;
}

.roundedborder {
  border: 5px solid #FCB700;
  background: white;
}